/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;900&display=swap');

/*Your everyday add*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

/*Nav Bar*/
nav{
  background-color: azure;
  padding: 2em 0;
}
/*Nav Anchor Link*/
#nav-anchor {
  text-decoration: none;
  color: darkred;
  font-size: 16px;
  font-weight: 500;
}
/*nav h4*/
nav > h4 {
  text-align: center;
  transition: transform 2s;
}
/*Nav h4 hover*/
nav > h4:hover{
  font-weight: 800;
  transform: scale(1.5);
}

/*--Body--*/
body{
  background-color: darkred;
  height: 100%;
  width: 100%;
}

/*main*/
main{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Counter Background*/
#counter-background{
  background-color: azure;
  border: 5px solid black;
  width: 100%;
  margin: 0 20px 0 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px aliceblue;
}

/*Counter Header*/
h3{
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
}
/*Description*/
#small-text{
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-weight: 200;
}

/*counter-number*/
#counter-number{
  font-size: 8em;
  text-align: center;
  font-weight: bold;
}

/*Button Container*/
#buttonContainer{
  widows: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2em;
}
/*Add Button*/
#addButton{
  padding: 7px 20px;
  text-transform: uppercase;
  background-color: darkgreen;
  color: azure;
  border-radius: 4px;
  border: none;
  transition: transform 1s;
}
/*Reset Button*/
#resetButton{
  padding: 7px 20px;
  background-color: darkred;
  color: azure;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  transition: transform 1s;
}

/*Button Hover*/
#addButton:hover, #resetButton:hover{
  transform: scale(1.2);
  box-shadow: 0 0 5px black;
}

/*header 5 for results*/
h5{
  text-align: center;
}
/*saved Results paragraph*/
#savedResults{
  text-align: center;
  padding-bottom: 3em;
  width: 75%;
  margin: 0 auto;
}

/*Footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: azure;
  color: darkred;
  text-align: center;
  padding: .5em;
}

/*Bigger then 600px*/
@media only screen and (min-width: 600px) {
  /*Counter Header*/
  h3{
    padding-top: 2em;
  }
  /*small text*/
  #small-text{
    width: 75%;
  }

  /*Counter Background*/
  #counter-background{
    width: 420px;
    margin: 0;
  }
}